difydsl/dsl/招聘宣讲会海报工具2.yml
app:
  description: 讯飞星火api
  icon: face_vomiting
  icon_background: '#FFEAD5'
  mode: workflow
  name: 招聘宣讲会海报工具2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/spark:0.0.2@2bcb4248ac24c9cd1de59ac96e16f5d47c332fb99121249071f8641987399da8
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/tongyi:0.0.18@ca40ec06ff35ca611fa5fdf99a15eeb007a9fe3bd725c9ff6d0436469ab0edc9
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1719024828554-source-1719024838077-target
      selected: false
      source: '1719024828554'
      sourceHandle: source
      target: '1719024838077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1719024838077-source-1719028193404-target
      selected: false
      source: '1719024838077'
      sourceHandle: source
      target: '1719028193404'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: template-transform
      id: 1719028193404-source-1740010963763-target
      selected: false
      source: '1719028193404'
      sourceHandle: source
      target: '1740010963763'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: tool
      id: 1740010963763-source-1744964750333-target
      source: '1740010963763'
      sourceHandle: source
      target: '1744964750333'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1744964750333-source-1719028267819-target
      source: '1744964750333'
      sourceHandle: source
      target: '1719028267819'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 海报描述
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: description
      height: 90
      id: '1719024828554'
      position:
        x: 30
        y: 258
      positionAbsolute:
        x: 30
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 1.25
          mode: chat
          name: qwen-vl-max-0809
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 93959ec1-6e64-430b-b6ad-eb1c36d4de77
          role: system
          text: '你是一名创意与效率并重的招聘宣传专家，擅长以下与【生成宣讲会海报】紧密相关的工作内容：


            1、精准定位宣讲会主题：深入理解招聘职位特点及公司文化，提炼出吸引目标群体的宣讲会主题，确保海报内容既专业又富有吸引力。


            2、设计视觉冲击力强的海报：运用专业的设计软件，结合公司VI（视觉识别系统）和色彩心理学，设计出色彩鲜明、布局合理、信息层次清晰的宣讲会海报。确保海报能在众多信息中脱颖而出，吸引潜在候选人的注意。


            3、精炼并突出关键信息：在有限的海报空间内，精准提炼并突出宣讲会的时间、地点、主讲嘉宾亮点、公司优势、招聘岗位等关键信息，让候选人一目了然，快速获取所需信息。


            4、创意元素融入：巧妙融入创意元素，如幽默的文案、生动的图形或行业相关的隐喻，增加海报的趣味性和记忆点，提升候选人的参与兴趣和期待感。


            5、多平台适配与优化：考虑到海报将在不同平台（如社交媒体、公司官网、线下宣传栏等）展示，你会确保海报设计在不同尺寸和分辨率下都能保持高质量的显示效果，提升品牌形象。


            '
        - id: 60fb9206-2040-4ecb-9ab1-7baf3c1c8c8d
          role: user
          text: 根据以下的宣讲会信息，生成宣讲会海报：{{#1719024828554.description#}}
        selected: false
        title: 职位描述润色操作
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1719024838077'
      position:
        x: 334
        y: 258
      positionAbsolute:
        x: 334
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(titles: str) -> dict:\n    title_list = titles.replace(\"\
          \\\\n\", \"\\n\").split(\"\\n\")\n    return {\n        \"result\": title_list,\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1719024838077'
          - text
          variable: titles
      height: 54
      id: '1719028193404'
      position:
        x: 638
        y: 258
      positionAbsolute:
        x: 638
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740032391806'
          - files
          variable: img
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1719028267819'
      position:
        x: 1691.2857211223463
        y: 237.74543786214855
      positionAbsolute:
        x: 1691.2857211223463
        y: 237.74543786214855
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{{ arg1 }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1719028193404'
          - result
          variable: arg1
      height: 54
      id: '1740010963763'
      position:
        x: 958.4285714285716
        y: 258
      positionAbsolute:
        x: 958.4285714285716
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: false
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Image prompt
            ja_JP: Image prompt
            pt_BR: Image prompt
            zh_Hans: 图像提示词
          label:
            en_US: Prompt
            ja_JP: Prompt
            pt_BR: Prompt
            zh_Hans: 提示词
          llm_description: Image prompt of spark_img_generation tooll, you should
            describe the image you want to generate as a list of words as possible
            as detailed
          max: null
          min: null
          name: prompt
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          prompt: ''
        provider_id: langgenius/spark/spark
        provider_name: langgenius/spark/spark
        provider_type: builtin
        selected: true
        title: 图片生成
        tool_configurations: {}
        tool_label: 图片生成
        tool_name: spark_img_generation
        tool_parameters: {}
        type: tool
      height: 54
      id: '1744964750333'
      position:
        x: 1262.4285714285716
        y: 258
      positionAbsolute:
        x: 1262.4285714285716
        y: 258
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -798.7709148237507
      y: -89.35560985239158
      zoom: 1.218770788614574
