difydsl/dsl/招聘宣讲会海报工具.yml
app:
  description: https://fal.ai/
  icon: face_vomiting
  icon_background: '#FFEAD5'
  mode: workflow
  name: 招聘宣讲会海报工具
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/fal:0.0.3@8d19055ef7dad86c11610ad43d6b8d4726a20e3bf6f81277fa9414d1d17ad2ba
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/tongyi:0.0.18@ca40ec06ff35ca611fa5fdf99a15eeb007a9fe3bd725c9ff6d0436469ab0edc9
kind: app
version: 0.2.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1719024828554-source-1719024838077-target
      selected: false
      source: '1719024828554'
      sourceHandle: source
      target: '1719024838077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1719024838077-source-1719028193404-target
      selected: false
      source: '1719024838077'
      sourceHandle: source
      target: '1719028193404'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: template-transform
      id: 1719028193404-source-1740010963763-target
      selected: false
      source: '1719028193404'
      sourceHandle: source
      target: '1740010963763'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: tool
      id: 1740010963763-source-1744963331304-target
      source: '1740010963763'
      sourceHandle: source
      target: '1744963331304'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1744963331304-source-1719028267819-target
      source: '1744963331304'
      sourceHandle: source
      target: '1719028267819'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 海报描述
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: description
      height: 90
      id: '1719024828554'
      position:
        x: 30
        y: 258
      positionAbsolute:
        x: 30
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 1.25
          mode: chat
          name: qwen-vl-max-0809
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 93959ec1-6e64-430b-b6ad-eb1c36d4de77
          role: system
          text: '你是一名创意与效率并重的招聘宣传专家，擅长以下与【生成宣讲会海报】紧密相关的工作内容：


            1、精准定位宣讲会主题：深入理解招聘职位特点及公司文化，提炼出吸引目标群体的宣讲会主题，确保海报内容既专业又富有吸引力。


            2、设计视觉冲击力强的海报：运用专业的设计软件，结合公司VI（视觉识别系统）和色彩心理学，设计出色彩鲜明、布局合理、信息层次清晰的宣讲会海报。确保海报能在众多信息中脱颖而出，吸引潜在候选人的注意。


            3、精炼并突出关键信息：在有限的海报空间内，精准提炼并突出宣讲会的时间、地点、主讲嘉宾亮点、公司优势、招聘岗位等关键信息，让候选人一目了然，快速获取所需信息。


            4、创意元素融入：巧妙融入创意元素，如幽默的文案、生动的图形或行业相关的隐喻，增加海报的趣味性和记忆点，提升候选人的参与兴趣和期待感。


            5、多平台适配与优化：考虑到海报将在不同平台（如社交媒体、公司官网、线下宣传栏等）展示，你会确保海报设计在不同尺寸和分辨率下都能保持高质量的显示效果，提升品牌形象。


            '
        - id: 60fb9206-2040-4ecb-9ab1-7baf3c1c8c8d
          role: user
          text: 根据以下的宣讲会信息，生成宣讲会海报：{{#1719024828554.description#}}
        selected: false
        title: 职位描述润色操作
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1719024838077'
      position:
        x: 334
        y: 258
      positionAbsolute:
        x: 334
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(titles: str) -> dict:\n    title_list = titles.replace(\"\
          \\\\n\", \"\\n\").split(\"\\n\")\n    return {\n        \"result\": title_list,\n\
          \    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1719024838077'
          - text
          variable: titles
      height: 54
      id: '1719028193404'
      position:
        x: 638
        y: 258
      positionAbsolute:
        x: 638
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740640483256'
          - files
          variable: img
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1719028267819'
      position:
        x: 1654.513510243608
        y: 252.58672654817718
      positionAbsolute:
        x: 1654.513510243608
        y: 252.58672654817718
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        selected: false
        template: '{{ arg1 }}'
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1719028193404'
          - result
          variable: arg1
      height: 54
      id: '1740010963763'
      position:
        x: 958.4285714285716
        y: 258
      positionAbsolute:
        x: 958.4285714285716
        y: 258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: false
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The text prompt used to generate the image.
            ja_JP: The text prompt used to generate the image.
            pt_BR: The text prompt used to generate the image.
            zh_Hans: 用于生成图像的文本提示。
          label:
            en_US: Prompt
            ja_JP: Prompt
            pt_BR: Prompt
            zh_Hans: 提示词
          llm_description: This prompt text will be used to generate the image.
          max: null
          min: null
          name: prompt
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: landscape_4_3
          form: form
          human_description:
            en_US: The size of the generated image.
            ja_JP: The size of the generated image.
            pt_BR: The size of the generated image.
            zh_Hans: 生成图像的尺寸。
          label:
            en_US: Image Size
            ja_JP: Image Size
            pt_BR: Image Size
            zh_Hans: 图像尺寸
          llm_description: ''
          max: null
          min: null
          name: image_size
          options:
          - label:
              en_US: Square HD
              ja_JP: Square HD
              pt_BR: Square HD
              zh_Hans: 正方形高清
            value: square_hd
          - label:
              en_US: Square
              ja_JP: Square
              pt_BR: Square
              zh_Hans: 正方形
            value: square
          - label:
              en_US: Portrait 4:3
              ja_JP: Portrait 4:3
              pt_BR: Portrait 4:3
              zh_Hans: 竖屏 4:3
            value: portrait_4_3
          - label:
              en_US: Portrait 16:9
              ja_JP: Portrait 16:9
              pt_BR: Portrait 16:9
              zh_Hans: 竖屏 16:9
            value: portrait_16_9
          - label:
              en_US: Landscape 4:3
              ja_JP: Landscape 4:3
              pt_BR: Landscape 4:3
              zh_Hans: 横屏 4:3
            value: landscape_4_3
          - label:
              en_US: Landscape 16:9
              ja_JP: Landscape 16:9
              pt_BR: Landscape 16:9
              zh_Hans: 横屏 16:9
            value: landscape_16_9
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: form
          human_description:
            en_US: The number of images to generate.
            ja_JP: The number of images to generate.
            pt_BR: The number of images to generate.
            zh_Hans: 要生成的图像数量。
          label:
            en_US: Number of Images
            ja_JP: Number of Images
            pt_BR: Number of Images
            zh_Hans: 图像数量
          llm_description: ''
          max: 1
          min: 1
          name: num_images
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 28
          form: form
          human_description:
            en_US: The number of inference steps to perform. More steps produce higher
              quality but take longer.
            ja_JP: The number of inference steps to perform. More steps produce higher
              quality but take longer.
            pt_BR: The number of inference steps to perform. More steps produce higher
              quality but take longer.
            zh_Hans: 执行的推理步数。步数越多，质量越高，但所需时间也更长。
          label:
            en_US: Num Inference Steps
            ja_JP: Num Inference Steps
            pt_BR: Num Inference Steps
            zh_Hans: 推理步数
          llm_description: ''
          max: 50
          min: 1
          name: num_inference_steps
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 3.5
          form: form
          human_description:
            en_US: How closely the model should follow the prompt.
            ja_JP: How closely the model should follow the prompt.
            pt_BR: How closely the model should follow the prompt.
            zh_Hans: 模型对提示词的遵循程度。
          label:
            en_US: Guidance Scale
            ja_JP: Guidance Scale
            pt_BR: Guidance Scale
            zh_Hans: 指导强度
          llm_description: ''
          max: 20
          min: 0
          name: guidance_scale
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: '2'
          form: form
          human_description:
            en_US: 'The safety tolerance level for the generated image. 1 being the
              most strict and 5 being the most permissive.

              '
            ja_JP: 'The safety tolerance level for the generated image. 1 being the
              most strict and 5 being the most permissive.

              '
            pt_BR: 'The safety tolerance level for the generated image. 1 being the
              most strict and 5 being the most permissive.

              '
            zh_Hans: '生成图像的安全容忍级别。1 是最严格，6 是最宽松。

              '
          label:
            en_US: Safety Tolerance
            ja_JP: Safety Tolerance
            pt_BR: Safety Tolerance
            zh_Hans: 安全容忍度
          llm_description: ''
          max: null
          min: null
          name: safety_tolerance
          options:
          - label:
              en_US: 1 (Most strict)
              ja_JP: 1 (Most strict)
              pt_BR: 1 (Most strict)
              zh_Hans: 1（最严格）
            value: '1'
          - label:
              en_US: '2'
              ja_JP: '2'
              pt_BR: '2'
              zh_Hans: '2'
            value: '2'
          - label:
              en_US: '3'
              ja_JP: '3'
              pt_BR: '3'
              zh_Hans: '3'
            value: '3'
          - label:
              en_US: '4'
              ja_JP: '4'
              pt_BR: '4'
              zh_Hans: '4'
            value: '4'
          - label:
              en_US: '5'
              ja_JP: '5'
              pt_BR: '5'
              zh_Hans: '5'
            value: '5'
          - label:
              en_US: 6 (Most permissive)
              ja_JP: 6 (Most permissive)
              pt_BR: 6 (Most permissive)
              zh_Hans: 6（最宽松）
            value: '6'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The same seed and prompt can produce similar images.
            ja_JP: The same seed and prompt can produce similar images.
            pt_BR: The same seed and prompt can produce similar images.
            zh_Hans: 相同的种子和提示词可以生成相似的图像。
          label:
            en_US: Seed
            ja_JP: Seed
            pt_BR: Seed
            zh_Hans: 种子
          llm_description: ''
          max: 9999999999
          min: 0
          name: seed
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: 'If set to true, the function will wait for the image to be generated
              and uploaded before returning the response. This will increase the latency
              but allows you to get the image directly in the response without going
              through the CDN.

              '
            ja_JP: 'If set to true, the function will wait for the image to be generated
              and uploaded before returning the response. This will increase the latency
              but allows you to get the image directly in the response without going
              through the CDN.

              '
            pt_BR: 'If set to true, the function will wait for the image to be generated
              and uploaded before returning the response. This will increase the latency
              but allows you to get the image directly in the response without going
              through the CDN.

              '
            zh_Hans: '如果设置为 true，函数将在生成并上传图像后才返回响应。 这将增加延迟，但允许您直接在响应中获取图像，而无需通过 CDN。

              '
          label:
            en_US: Sync Mode
            ja_JP: Sync Mode
            pt_BR: Sync Mode
            zh_Hans: 同步模式
          llm_description: ''
          max: null
          min: null
          name: sync_mode
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          guidance_scale: ''
          image_size: ''
          num_images: ''
          num_inference_steps: ''
          prompt: ''
          safety_tolerance: ''
          seed: ''
          sync_mode: ''
        provider_id: langgenius/fal/fal
        provider_name: langgenius/fal/fal
        provider_type: builtin
        selected: true
        title: FLUX.1 [pro] new
        tool_configurations:
          guidance_scale: 3.5
          image_size: landscape_4_3
          num_images: 1
          num_inference_steps: 28
          safety_tolerance: '2'
          seed: null
          sync_mode: 0
        tool_label: FLUX.1 [pro] new
        tool_name: flux_1_pro_new
        tool_parameters: {}
        type: tool
      height: 246
      id: '1744963331304'
      position:
        x: 1262.4285714285716
        y: 258
      positionAbsolute:
        x: 1262.4285714285716
        y: 258
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -725.6426033093608
      y: 7.584249966667471
      zoom: 0.923655537541026
